.background{
    background-color: rgba(63, 63, 63, .8);
          text-align: center;
          padding: 20px 0;
          font-size: 32px;
          margin: 0 0 30px 0;
}

#backgroundBody{
    width: 52%;
   text-align: center;
    
}
.backgroundFooter{
    width: 100%;
    padding: 25px;
    cursor: pointer;
}

.backgroundBody1{
    width: 47%;
    
opacity: .8;
}
